@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

:global {
  #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  html {
    overflow-x: hidden;
  }

  body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'NanumBarunGothic', cursive;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }

  * {
    box-sizing: border-box;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  p {
    margin: 0;
  }
}
