@import '../styles/theme.module.scss';
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

:global {
  #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Gugi', cursive;
  }

  html {
    overflow-x: hidden;
  }

  body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: $yellow;
  }

  * {
    box-sizing: border-box;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  p {
    margin: 0;
  }
}
