$white: white;
$main-color: #b69b7c;
$black: #2f3542;

$light-beige: rgb(255, 243, 221);
$brown: rgb(89, 53, 0);
$light-brown: rgb(130, 97, 48);
$yellow: rgb(255, 194, 88);
$light-yellow: rgb(255, 239, 173);
$carrot: rgb(220, 139, 0);
$dark-carrot: #F76D1F;

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 24px;
$font-size-4: 36px;
$font-size-5: 42px;
$font-size-6: 80px;
$font-size-7: 150px;

@mixin buttonBase() {
  display: inline;
  background-color: $white;
  padding: 5px 30px;
  border: $main-color;
  border-radius: 30px;
  color: $black;
  font-size: $font-size-2;
}
