@import '../styles/theme.module.scss';

.defaultButton {
  @include buttonBase();
}

.toggleButton {
  margin: 0 5vw 2vw 75vw;
  padding: 0.5vh;
  border: $black;
  border-radius: 20px;
  background-color: $light-brown;
  color: $light-beige;
  font-size: $font-size-1;
  text-transform: uppercase;
}

.fixedButton {
  position: fixed;
  left: 25%;
  bottom: 3vh;
  width: 50%;
  padding: 10px;
  border: 4px solid $carrot;
  border-radius: 30px;
  background-color: $yellow;
  background-image: linear-gradient(120deg, #FAD961 0%, #F76B1C 100%);
  color: $brown;
  font-size: $font-size-2;
  box-shadow: rgba(67, 35, 6, 0.5) 0px 20px 40px -7px;
}

.circleButton {
  width: 50px;
  height: 50px;
  background-color: $brown;
  color: $white;
  border: none;
  border-radius: 50%;
  font-size: $font-size-4;
}

.formButton {
  width: 100%;
  height: 5vh;
  margin-bottom: 1vw;
  border: none;
  border-radius: 20px;
  color: $light-beige;
  background-color: $brown;
  font-size: $font-size-2;
}

.naviButton {
  width: 100%;
  height: 5vh;
  margin-top: 2vh;
  border: none;
  border-radius: 20px;
  font-size: $font-size-2;
  background-color: $yellow;
  background-image: linear-gradient(120deg, #FAD961 0%, #F76B1C 100%);
  color: $brown;
}

.popupButton {
  margin-left: 5px;
  padding: 1vh 5vw;
  border: none;
  border-radius: 30px;
  background-color: $brown;
  color: $light-beige;
  font-size: $font-size-1;
}
