@import '../styles/theme.module.scss';

.defaultButton {
  @include buttonBase();
}

.filterButton {
  background-color: $black;
  padding: 10px;
  margin: 0 0 10px 60vw;
  border: $black;
  border-radius: 20px;
  color: $white;
  font-size: $font-size-1;
}
