@import '../styles/theme.module.scss';

.container {
  position: relative;

  .captureImage {
    width: 100%;
  }

  .testBox {
    width: 90vw;
    height: 70vh;
    background-color: white;
    border: 1px solid black;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
