@import '../styles/theme.module.scss';

.keywordContainer {
  display: flex;

  .keyword {
    margin: 0 1vw;
    border: 1px solid $black;
    border-radius: 20px;
  }
}
.toastContainer {
  position: absolute;
  top: 10vh;
}
