@import '../styles/theme.module.scss';

.container {
  display: flex;
  height: 10vh;
  border-top: 1px solid #cdc9c3;

  .playingBullet {
    padding: 0 10px;
  }

  .waitingBullet {
    padding: 0 10px;
  }

  .gameInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .name {
      font-size: 1em;
      font-weight: 400;
      width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
