@import '../styles/theme.module.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  background-color: $main-color;
  font-size: $font-size-3;

  .title {
    margin-bottom: 30px;
    padding: 0 5vw;
    border-radius: 30px;
    background: $yellow;
    font-size: $font-size-3;
  }

  .gameName {
    border-bottom: 2px dashed $origin-blue;
  }

  .players {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px dashed $origin-blue;
      font-size: $font-size-2;

      img {
        width: 40px;
        margin: 10px;
        border-radius: 20px;
      }
    }
  }
}
