@import '../styles/theme.module.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .splash {
    width: 90vw;
  }

  .loginButton {
    width: 50vw;
    height: 40px;
    border-radius: 20px;
    background: rgb(112, 112, 112);
    color: $light-pink;
  }
}
