@import '../styles/theme.module.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: $font-size-3;

  .title {
    margin-bottom: 30px;
    margin-top: 30px;
    background: $yellow;
    font-size: $font-size-4;
  }

  .players {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px dashed $origin-blue;
      font-size: $font-size-2;

      img {
        width: 40px;
        margin: 10px;
        border-radius: 20px;
      }
    }
  }

  Button {
    margin-top: 10px;
  }
}
