@import '../styles/theme.module.scss';

.imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;

  img {
    margin-top: 20px;
    border-radius: 100px;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: $font-size-1;

    b {
      font-size: $font-size-2;
    }
  }
}

.contentsBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;

  .text {
    font-size: $font-size-2;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & li button {
      width: 150px;
      height: 50px;
      margin: 5px;
      background: $white;
      border: none;
      border-radius: 5px;
      background: $blue;
      color: $grey;
      background: $yellow;
      font-size: $font-size-1;
    }
  }

  .moreButton {
    background: $white;
    border: none;
    color: $blue;
    margin-top: 10px;
    font-size: $font-size-1;
  }
}
